#Deputy-Programm-officer-container {
  padding-top: 1vh;
  display: flex;
  align-items: center;
  padding: 2vw 0;
  flex-direction: column;
}

.depupo_container > h1 {
  font-size: 8.5vh;
  color: #000;
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
  color: #03c4a1;
  line-height: 1;
  margin-bottom: 0.4rem;
}

.dp_about {
  font-size: 1.5vw;
  width: 100%;
  font-family: Roboto-web;
  text-align: center;
  text-wrap: balance;
  padding: 0 10vw;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 1vw;
}

.po_container {
  text-align: center;
}

#Deputy-Programm-officer-container .dep-prog {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: 10;
  display: flex;
  padding: 3vw 10vw;
  gap: 6vw;
  align-items: center;
  justify-content: space-around;
}

.dep-prog #dep_box {
  height: 32vw;
  border-radius: 20px;
}

#dep_box .deputy-program-officer-card {
  height: 32vw;
  width: 26vw;
  transform-style: preserve-3d;
  border-radius: 20px;
  cursor: pointer;
  padding-bottom: 2rem;
}

#dep_box .front {
  height: 32vw;
  width: 26vw;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.front .front_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw 0;
  overflow: hidden;
  border-radius: 20px;
}
.front .front_content img {
  width: 28vw;
  margin-top: -4.5vw;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.front_content .depu_po_details {
  background-color: #00000058;
  border-radius: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  padding: 0.6rem 1rem;
}

.depu_po_details h1 {
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1;
}
.depu_po_details h3 {
  font-size: 1.8vw;
  line-height: 1;
  font-weight: 400;
}
.deputy-program-officer-card .back {
  height: 32vw;
  width: 26vw;
  border-radius: 5%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.back .back_content {
  height: 31vw;
  width: 26vw;
  padding: 1vw;
}

.deputy-program-officer-card .back_content h3 {
  margin-top: 1vh;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 1;
}
.deputy-program-officer-card .back_content p {
  font-size: 1.4vw;
  margin-top: 0.5vw;
  font-family: Roboto-web;
  line-height: 1;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .front_content .depu_po_details {
    border-radius: 1vw;
    padding: 1vw 1.2vw;
  }
}

@media screen and (max-width: 768px) {
  .depupo_container > h1 {
    font-size: 6.5vw;
    margin-bottom: 0.5rem;
  }
  .dp_about {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  #Deputy-Programm-officer-container .dep-prog {
    flex-direction: column;
    width: 70%;
  }
  .dep-prog #dep_box {
    height: 80vw;
  }
  #dep_box .deputy-program-officer-card {
    width: 60vw;
  }
  #dep_box .front {
    height: 80vw;
    width: 100%;
    border-radius: 5%;
  }
  .front .front_content {
    padding: 1vw 0;
    overflow: hidden;
  }
  .front .front_content img {
    width: 65vw;
  }
  .front_content .depu_po_details {
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
  }
  .depu_po_details h1 {
    font-size: 5vw;
  }
  .depu_po_details h3 {
    font-size: 3.5vw;
    padding: 0.5vw;
  }
  .deputy-program-officer-card .back {
    height: 80vw;
    width: 60vw;
    border-radius: 5%;
  }
  .back .back_content {
    width: 100%;
    padding: 2vw 1.5vw;
  }

  .deputy-program-officer-card .back_content h3 {
    font-size: 5vw;
  }
  .deputy-program-officer-card .back_content p {
    font-size: 3.2vw;
    margin-top: 1vw;
  }
}

@media screen and (max-width: 480px) {
  .depupo_container > h1 {
    font-size: 6vw;
    margin-bottom: 0.5rem;
  }

  .dp_about {
    font-size: 4.2vw;
    margin-bottom: 3vw;
  }
  #Deputy-Programm-officer-container .dep-prog {
    flex-direction: column;
    width: 70%;
  }
  .dep-prog #dep_box {
    height: 80vw;
  }
  #dep_box .deputy-program-officer-card {
    width: 60vw;
  }
  #dep_box .front {
    height: 80vw;
    width: 100%;
    border-radius: 5%;
  }
  .front_content .depu_po_details {
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
  }
  .depu_po_details h1 {
    font-size: 5.5vw;
  }
  .depu_po_details h3 {
    font-size: 3.8vw;
  }
  .front .front_content {
    padding: 1vw 0;
    overflow: hidden;
  }
  .front .front_content img {
    width: 60vw;
  }
  .deputy-program-officer-card .back {
    height: 80vw;
    width: 60vw;
    border-radius: 5%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }
  .back .back_content {
    width: 100%;
    padding: 2vw 1.5vw;
  }

  .deputy-program-officer-card .back_content h3 {
    font-size: 5vw;
  }
  .deputy-program-officer-card .back_content p {
    font-size: 3.2vw;
  }
}
