#page1,
#page2 {
  height: 105vh;
  width: 100%;
  position: relative;
  padding-top: 1vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.po_container > h1,
#page2 > h1 {
  font-size: 8.5vh;
  color: #000;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #03c4a1;
}

.po_about,
.dp_about {
  font-size: 1.4vw;
  width: 100%;
  font-family: Roboto-web;
  text-align: center;
  text-wrap: balance;
  padding: 0 10vw;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 5vh;
}

.po_container {
  text-align: center;
}

#page1 .prog,
#page2 .dep-prog {
  height: 80vh;
  width: 72vw;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: 10;
  display: flex;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-around;
}

.prog #prog_box,
.dep-prog #dep_box {
  height: 30rem;
  background-color: red;
  width: 26vw;
  border-radius: 5%;
  position: relative;
  /* overflow: hidden; */
}

#prog_box .card,
#dep_box .card {
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 6px;
  cursor: pointer;
  border: 4px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border: 2px solid red;
  border-radius: 5%;
  padding-bottom: 2rem;
}

#prog_box .front,
#dep_box .front {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.front .front_content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw 0;
  overflow: hidden;
}
.front .front_content img {
  width: 28vw;
  margin-top: -4em;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.front_content .prog-detail,
.front_content .depu_po_details {
  background-color: #00000058;
  border-radius: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  padding: 1.5vh 1.2vw;
}
.prog-detail h1,
.depu_po_details h1 {
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1;
}
.depu_po_details h3,
.prog-detail h3 {
  font-size: 1.8vw;
  line-height: 1;
  font-weight: 400;
}
.card .back {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.back .back_content {
  width: 100%;
  height: 30em;
  padding: 1vw;
  /* background-color: red; */
}

.card .back_content h3 {
  margin-top: 1vh;
  text-align: center;
  /* text-align: justify; */
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1;
}
.card .back_content p {
  padding: 1vh;
  font-size: 1.2vw;
  font-family: Roboto-web;
  word-spacing: -0.2vw;
  line-height: 1;
  text-align: justify;
}

#dep_box .card .back h3 {
  font-size: 1.8vw;
}
#dep_box .card .back p {
  font-size: 1.6vw;
  word-spacing: -0.1vw;
  line-height: 1.05;
}

/* ---------------------Media Querries----------------------------------- */

@media screen and (max-width: 1024px) {
  #chairperson-container {
    overflow: hidden;
    padding-top: 40px;
    height: 100vh;
  }
  #chairperson-container .chairperson-content {
    width: 100%;
    align-items: center;
    height: 100%;
    margin-top: 3vh;
    border-radius: 0rem;
  }
  #chairperson-container .table {
    width: 90%;
    flex-direction: column;
    padding: 10px;
    height: 80%;
    margin-top: -1.5em;
  }
  #chairperson-container .table #chairperson {
    height: 80%;
    width: 80%;
    border-radius: inherit;
  }
  .table #chairperson img {
    height: 100%;
    width: auto;
  }
  #chairperson-container .table .detail_chairperson {
    overflow: hidden;
    height: 80%;
    margin-left: 2.5vw;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 5vw;
    text-wrap: nowrap;
  }
  .detail_chairperson h3 {
    font-size: 3vw;
    font-weight: 400;
    line-height: 1;
    text-wrap: nowrap;
    margin-top: 0;
  }
  .detail_chairperson .principals_desk {
    font-size: 2vh;
    position: absolute;
    width: 100%;
    top: 65%;
    left: 50%;
    color: gray;
    font-family: inter;
    transform: translate(-50%, -20%);
    letter-spacing: -0.4px;
    padding: 1vh 2vw 0 2vw;
  }

  #page2 > h1,
  #page4 > h1 {
    font-size: 6.5vw;
    margin-top: 2vh;
  }

  .po_about,
  .dp_about,
  #page4 > p {
    font-size: 2.5vh;
  }

  #page1 .prog,
  #page2 .dep-prog {
    height: 70vh;
    top: 68%;
    width: 80%;
  }

  .prog #prog_box,
  .dep-prog #dep_box {
    width: 42%;
    background-color: red;
    height: 90%;
  }
  #prog_box .front {
    height: 100%;
    background-color: greenyellow;
  }
  .front .front_content {
    height: 100%;
  }

  .front .front_content img {
    margin-top: -3vh;
  }

  .prog-detail h1,
  .depu_po_details h1 {
    font-size: 3vw;
    letter-spacing: -1px;
  }
  .card .back p {
    padding: 1vh;
    font-size: 1.9vw;
    word-spacing: -0.2vw;
  }
  #dep_box .card .back h3 {
    font-size: 1.9vw;
  }
  #dep_box .card .back p {
    font-size: 1.7vw;
  }
}

/* @media screen and (max-width: 1024px) and (min-height: 1024px) {
  #page1,
  #page2 {
    height: 60vh;
  }
  #page1 > h1,
  #page2 > h1 {
    font-size: 6.6vw;
    margin-top: 2vh;
  }
  .po_about,
  .dp_about {
    font-size: 2.3vh;
    padding: 0 10px;
    margin-top: 0.6vh;
  }
  #page1 .prog {
    height: 35vh;
    top: 65%;
    width: 90%;
  }

  #page2 .dep-prog {
    height: 35vh;
    top: 70%;
    width: 90%;
  }
  .prog #prog_box,
  .dep-prog #dep_box {
    width: 43%;
  }
  .front .front_content img {
    height: 26vh;
    width: auto;
    margin-top: -30vh;
  }
  .front_content .prog-detail,
  .front_content .details {
    transform: translate(-50%, 20%);
  }
  .prog-detail h1,
  .depu_po_details h1 {
    font-size: 4vw;
    letter-spacing: -1px;
  }
  .depu_po_details h3,
  .prog-detail h3 {
    font-size: 2.5vw;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 2.3vw;
  }
  .card .back p {
    padding: 1vh;
    font-size: 2.1vw;
    word-spacing: 0vw;
  }
  #dep_box .card .back h3 {
    font-size: 2.2vw;
  }
  #dep_box .card .back p {
    font-size: 1.95vw;
  }
} */

/* @media screen and (max-width: 1024px) and (max-height: 800px) {
  #chairperson-container {
    overflow: hidden;
    padding-top: 40px;
    height: 100vh;
  }
  #chairperson-container .chairperson-content {
    display: flex;
    width: 100%;
    align-items: center;
    height: 95%;
    border-radius: 0;
  }
  #chairperson-container .table {
    width: 90%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 80%;
    margin-top: 0vh;
  }
  #chairperson-container .table #chairperson {
    height: 60vh;
    width: 40%;
    border-radius: 1rem;
    padding: 0;
  }
  .table #chairperson img {
    height: 100%;
    width: auto;
  }
  #chairperson-container .table .detail_chairperson {
    overflow: hidden;
    height: 80%;
    margin-left: 2.5vw;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 5.5vw;
  }
  .detail_chairperson h3 {
    font-size: 2.8vw;
    margin-top: -0.8vh;
    text-wrap: nowrap;
  }
  .detail_chairperson .principals_desk {
    font-size: 2.7vh;
    width: 50%;
    position: absolute;
    left: 70%;
    top: 33vh;
    padding: 0;
  }
  #page1,
  #page2 {
    height: 90vh;
  }
  #page1 > h1 {
    font-size: 6vw;
    margin-top: 0vh;
  }
  #page2 > h1 {
    font-size: 5vw;
    margin-top: 0vh;
  }
  .po_about,
  .dp_about {
    font-size: 3.2vh;
    padding: 0 2vw;
  }
  #page1 .prog,
  #page2 .dep-prog {
    height: 64vh;
    top: 64.5%;
    width: 80%;
  }
  .prog #prog_box,
  .dep-prog #dep_box {
    width: 42%;
  }
  .front .front_content img {
    height: 46vh;
    width: auto;
    margin-top: -15vh;
  }
  .front_content .prog-detail,
  .front_content .depu_po_details {
    transform: translate(-50%, 125%);
    top: 30vh;
  }
  .prog-detail h1,
  .depu_po_details h1 {
    font-size: 3vw;
    letter-spacing: -1px;
  }
  .depu_po_details h3,
  .prog-detail h3 {
    font-size: 2vw;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 2.2vw;
  }
  .card .back p {
    padding: 1vh;
    font-size: 2.05vw;
    word-spacing: 0vw;
  }
  #dep_box .card .back h3 {
    font-size: 2.2vw;
  }
  #dep_box .card .back p {
    font-size: 1.9vw;
  }
} */

/* @media screen and (max-width: 768px) {
  #chairperson-container .colors {
    display: none;
  }
  #chairperson-container .chairperson-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    border-radius: 1rem;
  }
  #chairperson-container .table {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80%;
    margin-top: 0vh;
  }
  #chairperson-container .table #chairperson {
    height: 60%;
    width: 100%;
    left: 0;
    border-radius: 1rem;
  }
  .table #chairperson img {
    height: 100%;
    width: auto;
  }
  #chairperson-container .table .detail_chairperson {
    overflow: hidden;
    height: 80%;
    text-align: center;
    overflow-x: hidden;
    text-align: center;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 6vw;
  }
  #chairperson-container .table .detail_chairperson h3 {
    font-size: 3.5vw;
  }
  .detail_chairperson .principals_desk {
    font-size: 3vw;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    top: 75%;
    text-align: justify;
  }
} */

@media only screen and (max-width: 768px) and (max-height: 600px) {
  #chairperson-container .chairperson-content {
    border-radius: 0;
    height: 90%;
  }
  #chairperson-container .table {
    width: 90%;
    flex-direction: row;
    margin-top: -8vh;
  }
  #chairperson-container .table #chairperson {
    height: 75%;
    width: 40%;
    border-radius: 1rem;
    padding: 0;
  }
  .table #chairperson img {
    height: 100%;
    width: auto;
  }
  #chairperson-container .table .detail_chairperson {
    overflow: hidden;
    height: 80%;
    text-align: center;
    overflow-x: hidden;
    text-align: center;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 4vw;
  }
  .detail_chairperson h3 {
    font-size: 2.3vw;
    margin-top: -0.4vh;
    line-height: 1;
  }
  .detail_chairperson .principals_desk {
    font-size: 2.1vw;
    height: max-content;
    width: 55%;
    position: absolute;
    top: 40%;
    padding: 0 1vw;
  }
  #page1,
  #page2 {
    height: 100vh;
  }
  #page1 > h1,
  #page2 > h1 {
    font-size: 6vw;
  }
  .po_about,
  .dp_about {
    font-size: 3.5vh;
    padding: 0 10vw;
  }
  #page1 .prog,
  #page2 .dep-prog {
    height: 65vh;
    top: 65%;
    width: 70%;
    justify-content: space-evenly;
  }
  .prog #prog_box,
  .dep-prog #dep_box {
    width: 35%;
  }
  .front .front_content img {
    height: 50vh;
    width: auto;
    margin-top: -12vh;
  }
  .front_content .prog-detail,
  .front_content .details {
    transform: translate(-50%, 125%);
    border-radius: 3vh;
  }
  .prog-detail h1,
  .depu_po_details h1 {
    font-size: 2.5vw;
    letter-spacing: -1px;
    line-height: 1;
  }
  .depu_po_details h3,
  .prog-detail h3 {
    font-size: 1.8vw;
  }
}

@media only screen and (max-width: 768px) and (max-height: 400px) {
  #chairperson-container .table .detail_chairperson {
    overflow: hidden;
    height: 80%;
    margin-left: 2.5vw;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 4.8vw;
  }
  #chairperson-container .table .detail_chairperson h3 {
    font-size: 2.5vw;
    margin-top: -0.8vh;
    text-wrap: nowrap;
  }
  .detail_chairperson .principals_desk {
    font-size: 2.7vh;
    width: 50%;
    position: absolute;
    left: 70%;
    top: 33vh;
    padding: 0;
  }
  #page2 > h1 {
    font-size: 5.5vw;
  }
  .dp_about {
    font-size: 3.8vh;
    padding: 0 10vw;
  }
  #page2 .dep-prog {
    height: 65vh;
    top: 63%;
    width: 70%;
    justify-content: space-evenly;
  }
  .depu_po_details h1 {
    font-size: 2.4vw;
    letter-spacing: -1px;
    line-height: 1;
  }
  .depu_po_details h3,
  .prog-detail h3 {
    font-size: 1.4vw;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 1.65vw;
  }
  .card .back p {
    padding: 1vh;
    font-size: 1.35vw;
    word-spacing: 0vw;
  }
  #dep_box .card .back h3 {
    font-size: 1.5vw;
  }
  #dep_box .card .back p {
    font-size: 1.25vw;
  }
}

@media only screen and (max-width: 600px) {
  #chairperson-container {
    height: 90vh;
  }

  #chairperson-container .table {
    width: 90%;
    top: 10vh;
    flex-direction: column;
    height: 80vh;
  }
  #chairperson-container .table #chairperson {
    height: 60%;
    width: 100%;
    border-radius: inherit;
    left: 0;
    top: -1px;
  }
  .table #chairperson img {
    height: 100%;
    width: auto;
  }
  #chairperson-container .table .detail_chairperson {
    height: 80%;
    display: flex;
    align-items: center;
    overflow: visible;
    flex-direction: column;
  }
  #chairperson-container .table .detail_chairperson h1 {
    font-size: 4vh;
    text-wrap: nowrap;
  }
  .detail_chairperson h3 {
    font-size: 2vh;
    text-wrap: nowrap;

    margin-top: -0.1em;
  }
  .detail_chairperson .principals_desk {
    font-size: 2vh;
    height: 80%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 78%;
    line-height: 1;
    margin-top: -1vh;
    transform: translate(-50%, -30%);
    padding: 0 3vw 0 3vw;
  }
  #page1,
  #page2 {
    height: 105vh;
  }
  #page1 > h1,
  #page2 > h1 {
    font-size: 4vh;
    line-height: 1;
  }
  .po_about,
  .dp_about {
    font-size: 4vw;
    line-height: 1;
  }
  #page1 .prog,
  #page2 .dep-prog {
    width: 90%;
    height: 80%;
    flex-direction: column;
    margin-top: -4vh;
  }
  .prog #prog_box,
  .dep-prog #dep_box {
    width: 70%;
    height: 70%;
    margin: 10px 0;
  }
  #prog_box .card,
  #dep_box .card {
    height: 90%;
    overflow: hidden;
    margin-top: 20px;
  }

  .front .front_content img {
    height: 31vh;
    margin-top: -27vh;
    width: auto;
  }

  .front_content .prog-detail,
  .front_content .details {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    top: 20vh;
  }
  .prog-detail h1,
  .depu_po_details h1 {
    font-size: 5vw;
  }
  .depu_po_details h3,
  .prog-detail h3 {
    font-size: 0.9rem;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 3.8vw;
  }
  .card .back p {
    font-size: 3.2vw;
  }
  #dep_box .card .back h3 {
    font-size: 3.5vw;
  }
  #dep_box .card .back p {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 400px) and (max-height: 650px) {
  .front_content .prog-detail {
    top: 18.5vh;
  }
  .depu_po_details h1 {
    font-size: 5vw;
  }
  .depu_po_details h3 {
    font-size: 0.7rem;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 2.5vw;
  }
  .card .back p {
    font-size: 3vw;
  }
  #dep_box .card .back h3 {
    font-size: 3.5vw;
  }
  #dep_box .card .back p {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 385px) and (max-height: 650px) {
  .front_content .prog-detail {
    top: 19vh;
  }
  .front_content .depu_po_details {
    top: 19.5vh;
  }
}

@media screen and (max-width: 320px) {
  .detail_chairperson .principals_desk {
    font-size: 0.8rem;
    width: 100%;
    margin-top: -3vh;
    padding: 0 8px;
    text-align: justify;
  }
  .card .back h3 {
    margin-top: 1vh;
    font-size: 4vw;
  }
  .card .back p {
    font-size: 3.25vw;
  }
  #dep_box .card .back h3 {
    font-size: 3.6vw;
  }
  #dep_box .card .back p {
    font-size: 3vw;
  }
}
