.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14vh;
}

.modal {
  background: #fff;
  width: 45rem;
  height: auto;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  scale: 0;
  opacity: 0.01;
  animation: oversize 500ms ease-in forwards;
}

@keyframes oversize {
  to {
    scale: 1;
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-content {
  margin-top: 10px;
}

.modal-close-button > img {
  text-align: right;
  height: 2rem;
  cursor: pointer;
  width: 2rem;
  display: block;
  transition: 500ms;
  border-radius: 5px;
}

.modal-close-button > img:hover {
  background-color: red;
}

.modal-content > p {
  text-align: justify;
  font-size: 1.1rem;
  word-spacing: 1px;
  letter-spacing: -0.2px;
  height: 17rem;
  overflow-y: hidden;
  overflow-y: scroll;
  padding: 0.2rem 0.4rem;
}

.every-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0rem;
  padding: 0 4.5rem;
}

.modal-image {
  max-width: 10rem;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 40rem;
  }
  .every-details {
    padding: 0 3.5rem;
  }
  .modal-content > p {
    font-size: 1rem;
    height: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 35rem;
  }
  .modal-content > p {
    height: 16rem;
    overflow-y: hidden;
    overflow-y: scroll;
  }
  .every-details {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 28rem;
  }
  .every-details {
    padding: 0 0.5rem;
  }

  .every-details p {
    padding: 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 426px) {
  .modal {
    width: 20rem;
    padding: 0rem 0.5rem;
  }

  .modal-close-button > img {
    top: 0;
  }
  .modal-close-button {
    margin-left: 92%;
  }
  .every-details {
    padding: 0 0.5rem;
  }
  .every-details p {
    font-size: 1rem;
  }
  .modal-content > p {
    height: 15rem;
    overflow-y: hidden;
    overflow-y: scroll;
  }
  .modal-image {
    max-width: 6rem;
    border-radius: 10px;
  }
}

@media screen and (max-width: 325px) {
  .modal {
    width: 16rem;
    padding: 0.5rem;
  }

  .modal-content {
    margin-top: 10px;
  }
  .modal-close-button {
    padding: 3px 5px;
    margin-left: 91%;
    display: flex;
  }

  .modal-close-button:hover {
    background-color: #555;
  }

  .modal-content > p {
    font-size: 0.8rem;
    word-spacing: -1px;
    letter-spacing: -0.2px;
    height: 15rem;
    line-height: 1.3;
    padding: 0.2rem 0.2rem;
  }

  .every-details {
    gap: 0.1rem;
    padding: 0 0.1rem;
    background-color: yellow;
  }

  .modal-image {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .modal-close-button > img {
    padding-right: 1rem;
  }
}
