.Testimonial-wrapper {
  padding-top: 14vh;
  width: 100%;
}
.Testimonial-wrapper > h1 {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  text-align: center;
}
.card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
}
.Testimonail-card {
  width: 27rem;
  height: auto;
  background: rgba(30, 28, 28, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  transition: 500ms ease-in;
}
.Testimonail-card.appear {
  transform: translateY(0);
  opacity: 1;
}
.leftquote {
  height: 1.5rem;
  float: left;
  margin: 0 1rem;
  display: block;
}
#testimony {
  padding: 1rem;
  text-align: justify;
  font-size: 1rem;
}

#creator {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 0rem 1rem;
  /* padding: 1rem 1rem 0rem; */
}
#creator #image {
  height: 7rem;
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
#image img {
  width: 100%;
  height: 100%;
}
#creator .details {
  display: flex;
  flex-direction: column;
}
.details > h1 {
  font-size: 1.6rem;
  font-family: Roboto-web;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.details > p {
  font-family: Roboto-web;
  font-weight: 400;
  color: #555;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .leftquote {
    font-size: 2rem;
  }
  #testimony {
    padding: 0.6rem;
    font-size: 1.2rem;
  }
  .details {
    padding: 1rem;
  }
  .details > h1 {
    font-size: 1.5rem;
  }
  .details > p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .card_wrapper {
    padding: 0.5rem;
  }
  .Testimonail-card {
    padding: 1rem 1rem;
  }
  .leftquote {
    font-size: 1.5rem;
  }
  #testimony {
    padding: 0.4rem;
    font-size: 1.2rem;
  }
  #creator {
    gap: 0.2rem;
  }
}
@media screen and (max-width: 426px) {
  .card_wrapper {
    padding: 0.5rem;
  }
  .Testimonail-card {
    padding: 1rem 0.6rem;
  }
  #testimony {
    padding: 0.2rem;
    font-size: 0.9rem;
  }
  #creator {
    padding: 1rem;
    margin-left: -0.5rem;
  }

  .details > h1 {
    font-size: 1rem;
    line-height: 1;
  }
  .details > p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 325px) {
  .Testimonail-card {
    padding: 0.5rem;
  }
  #testimony {
    font-size: 0.7rem;
  }
  #creator {
    padding: 0.8rem 0.4rem;
    gap: 0rem;
  }
  #creator #image {
    height: 5rem;
    width: 5rem;
    aspect-ratio: 1/1;
  }
  #creator #image > img {
    height: 100%;
    width: 100%;
  }
  .details > h1 {
    font-size: 1rem;
  }
  .details > p {
    font-size: 0.8rem;
  }
}
