footer {
    width: 80%;
    margin: auto;
    padding: 2rem 0 0 0;
    z-index: 200;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.section-div {
    width: 100%;
}

.section-div > h3 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-div > ul {
    list-style: none;
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-div > ul > li {
    cursor: pointer;
    padding-bottom: .8rem;
}

.footer-impt-links {
    display: flex;
    justify-content: space-between;
    font-size: var(--p-font-size);
    padding: 1rem 0;
}
.developers-link {
    cursor: pointer;
}

.footer-impt-links> ul {
    display: flex;
    list-style: none;
    gap: 1rem
}


@media screen and (max-width:1024px){
    .section-div > h3 {
        font-size: 1.4rem;
    }    
}

@media screen and (max-width:768px){
    .links {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .footer-impt-links> ul {
        display: none;
    }
    .section-div > h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:425px){
    .footer-impt-links> ul {
        display: none;
    }
    .section-div > h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:250px){
    .section-div > ul > li {
        padding-bottom: 0.2rem;
    }
    .links {
        grid-template-columns: repeat(1, 1fr);
    }
}