.home-achievements {
    width: 80%;
    margin: auto;
    /* padding: 2rem 0; */
    text-align: center;
    transform: var(--transform-animation-below);
    opacity: 0;
    transition: 750ms;
}

.home-achievements.appear {
    transform: var(--transform-no-animation);
    opacity: 1;
}

.home-achievements > h3 {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.incrementer {
    font-size: 2rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}


.incrementer.make-flex {
    display: flex;
    flex-direction: column;
}

.incrementer.make-flex > p{
    font-size: 1.4rem;
    font-weight: 600;
}

.home-achievements > p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    padding-bottom: 1rem;
}

.home-achievements-incrementer {
    display: flex;
    user-select: none;      
}

.achievement {
    width: 100%;
}

.achievement > h3 {
    font-size: 1.5rem;
}

.achievement > img {
    height: 9rem;
    border: 4px solid black;
    padding: 6px;
    border-radius: 50%;
    margin: 1rem;
}

.respo-show {
    display: none;
}


@media screen and (max-width:1024px) {
    .achievement > h3 {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .achievement > img {
        height: 6rem;
    }
}

@media screen and (max-width:768px) {
    .home-achievements-incrementer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
    }
    
    .achievement {
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        width: fit-content;
        margin: auto;
        padding: 2rem 1rem;
        box-shadow: 2px 2px 10px #0000001b;
    }
    .achievement > h3 {
        text-wrap: nowrap;
    }
    .incrementer > p {
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width:425px) {
    .home-achievements-incrementer {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
    }
    .respo-show {
        display: block;
    }
    .achievement > h3 {
        display: none;
    }
    .achievement {
        background-color: none;
        border-radius: 0;
        display: flex;
        width: fit-content;
        margin: auto;
        width: 100%;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 1rem;
        box-shadow: none;
        border-bottom: 2px solid #0000008a;
    }
    .incrementer.make-flex > p{
        display: block;
    }
    .achievement:last-child{
        border: none;
    }
    .achievement  img {
        height: 4rem;
        border: 3px solid black;
        margin: 0;
    }
    .incrementer {
        width: 100%;
        text-align: center;
        font-weight: 400;
    }
    .incrementer > p {
        font-size: 1.3rem;
    }
    .achievement > p {
        display: none;
    }
    .make-flex {
        display: flex;
        flex-direction: column;
    }
    .home-achievements > p {
        text-align: justify;
    }
}

@media screen and (max-width:375px) {
    .home-achievements-incrementer {
        width: 70%;
    }
    .incrementer > p {
        font-size: 1rem;
    }
}

@media screen and (max-width:320px) {
    .home-achievements-incrementer {
        width: 90%;
    }
    .achievement {
        width: 100%;
    }
    .incrementer.make-flex > p {
        font-size: 1rem;
    }
}

@media screen and (max-width:210px) {
    .home-achievements-incrementer {
        width: 100%;
    }
}