.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: var(--component-width);
    margin: var(--component-margin);
    gap: 2rem;
    padding: 2rem 0;
    transform: var(--transform-animation-below); 
    opacity: 0;
    transition: 1.2s cubic-bezier(0.4, 0, 1, 1);}

section.appear {
    transform: var(--transform-no-animation);
    opacity: 1;
}

.image-wrapper {
    height: 100%;
    width: auto;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    height: fit-content;
    width: fit-content;
    transition-property: transform;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    background: #fff;
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(140deg) translate(-120%, 0);
    animation: logoshine 2s linear infinite;
    animation-delay: 2s;
}

@keyframes logoshine {
    0% {
        transform: skewX(140deg) translate(-120%, 0);
    }

    25% {
        transform: skewX(140deg) translate(140%, 0);
    }

    100% {
        transform: skewX(140deg) translate(140%, 0);
    }
}

.nss-logo-container {
    width: 35%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nss-logo-container img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.about-us-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.about-us-text h2 {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    position: relative;
    width: fit-content;
    user-select: none;
}

.about-us-text-header:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    border-left: 7px solid black;
    animation: typing-animation-slider 2s ease-in-out forwards;
}

.about-us-text p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}


@media screen and (max-width:1024px) {
    .nss-logo-container {
        width: 40%;
    }
    .about-us-text {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    .about-us {
        opacity: 1;
        flex-direction: column;
        height: fit-content;
        transform: translateY(0);
    }

    .nss-logo-container {
        width: 40%;
    }

    .about-us > .about-us-text {
        width: 100%;
        text-align: center;
    }
    .about-us-text > h2 {
        margin: auto;
    }
    .about-us-text p {
        text-align: justify;
    }
}


@media screen and (max-width:425px) {
    .about-us {
        flex-direction: column;
    }
    .nss-logo-container {
        width: 60%;
    }
}