.magazine-container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    transform: var(--transform-animation-below);
    opacity: 0;
    user-select: none;
    transition: 500ms cubic-bezier(0.4, 0, 1, 1);
}

.magazine-container.appear{
    transform: var(--transform-no-animation);
    opacity: 1;
}

.magazine-container h2 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    user-select: none;
    font-family: var(--title-font-family);
    text-align: center;
}

.magazine-container p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}

.magazine-page-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.magazine-image {
    width: 30%;
    box-shadow: 2px 2px 20px #00000077;
    transition: 500ms ease-in;
    cursor: pointer;
}

.magazine-image img {
    width: 100%;
    display: block;
}

.magazine-image.blacked {
    filter: brightness(.5);
}

.magazine-image.hover {
    scale: 1.04;
}

@media screen and (max-width: 768px) {
    .magazine-container p {
        text-align: justify;
    }

}
@media screen and (max-width: 525px) {
    .magazine-page-container {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .magazine-image {
        width: 65%;
    }
    .magazine-container {
        gap: 1rem;
    }
    .magazine-container > p {
        font-size: .9rem;
    }
    .magazine-container > h2 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 324px) {
    .magazine-container > h2 {
        font-size: 2rem;
    }
    .magazine-container > p {
        font-size: .8rem;
    }
}