.moto-container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    opacity: 0;
    transform: var(--transform-animation-below);
    transition: 500ms;
}

.moto-container.appear {
    opacity: 1;
    transform: var(--transform-no-animation);
}

.moto-container h1 {
    font-family: var(--title-font-family);
    font-size: 6rem;
    background-image: linear-gradient(90deg,#322864, #de2028, #322864);
    background-position: center;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.moto-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}
.moto-separator p {
    text-wrap: nowrap;
}
.moto-separator hr {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.297);;
}
.moto-container >p {
    width: 80%;
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .moto-container h1 {
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 768px) {
    .moto-container {
        opacity: 1;
        transform: translate(0);
    }
    .moto-container {
        gap: 1rem;
    }
    .moto-container h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 525px) {
    .moto-separator {
        gap: 1rem;
        width:100%
    }
    .moto-container {
        gap: 1rem;
    }
    .moto-container h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    .moto-container h1 {
        font-size: 2rem;
    }
    .moto-container >p {
        text-align: justify;
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .moto-container h1 {
        font-size: 1.5rem;
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 230px) {
    .moto-container h1 {
        font-size: 1rem;
    }
}