.values-container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    transform: var(--transform-animation-below);
    opacity: 0;
    transition: 500ms cubic-bezier(0.4, 0, 1, 1);
}
.values-container.appear {
    transform: var(--transform-no-animation);
    opacity: 1;
}

.values-container > h1 {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    text-align: center;
}

.values-animated-container {
    display: flex;
    gap:1rem;
    width: 100%;
    justify-content: space-between;
}

.value-card {
    border: 3px solid lightskyblue;
    width: 30%;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.value-quote {
    font-size: var(--p-font-size);
    font-style: italic;
    font-size: 300;
    margin-bottom: .7rem;
}

.value-title {
    font-weight: 600;
    font-family: var(--title-font-family);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.value-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: .7rem;
}
.value-separator > hr {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.438);
    height: 2px;
}
.see-more-domains {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 0 0 4px #000;
    transition: 500ms;
}
.see-more-domains:hover {
    scale: 1.1;
}
@media screen and (max-width: 1024px) {
    .value-title {
        font-size: 1.5rem;
    }
    .values-container {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .values-animated-container {
        flex-direction: column;
    }
    .value-card {
        width: 100%;
    }
    .value-separator {
        display: none;
    }
}
@media screen and (max-width: 525px) {
    .values-container {
        gap: 1rem;
    }    
}

@media screen and (max-width: 250px) {
    .value-title {
        font-size: 1.3rem;
    }
}